<div class="bs-docs-section">
        <div class="row">
          <app-navbar></app-navbar>
          <div class="col-lg-9">
          <div class="bs-component">  
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- Table to Display User Info -->
<div class="jumbotron">
<ul *ngIf="foundProfile" class="list-group">
  <!-- Username -->
  <li class="list-group-item"><strong>Username: </strong>{{ username }}</li>
  <!-- E-Mail -->
  <li class="list-group-item"><strong>E-Mail: </strong>{{ email }}</li>
</ul>
</div>

 </div>
  </div>
   </div>
</div>