         <div class="col-md-12">
                    <h3 id="nav-tabs" align="center">Social Network</h3>
            <div class="bs-component">
              <ul class="nav nav-tabs">
                <li routerLinkActive="active"><a routerLink='/register' data-toggle="tab"><h4>Register</h4></a></li>
                <li routerLinkActive="active"><a routerLink="/login" data-toggle="tab"><h4>Login</h4></a></li>
              </ul>
               <br>
          </div>
        </div>