<div class="bs-docs-section">
        <div class="row">
          <app-navbar></app-navbar>
          <div class="col-lg-9">
          <div class="well bs-component">  
          
    <div class="row show-hide-message" *ngIf="message">
      <div [ngClass]="messageClass">
        {{message}}
      </div>
    </div>
          
    <form name='edit-form' (submit)="onEditSubmit()" *ngIf='loadEdit'>
    <fieldset>
       <legend>Update Blog</legend>

     <div class='form-group'>
       <label for='title'>Title</label>
       <input type="text" [disabled]='processing' placeholder="*Blog Title" name='title' class="form-control" [(ngModel)]="blog.title" />
     </div>

  <div class='form-group'>
       <label for='body'>Blog Content</label>
       <textarea type='text' [disabled]='processing' rows="3" cols="80" placeholder="*Blog Content" name='body' class="form-control" [(ngModel)]="blog.body"></textarea>
     </div>

 <a type="button" ng-disabled='processing' name="Button" class="btn btn-primary" (click)="goBack()">Go Back</a>
      <a [routerLink]="['/deleteBlog',blog._id]" ng-disabled='processing' type="button" name="Button" class="btn btn-warning" (click)="deleteBlog()">&nbsp;&nbsp;Delete</a>
    <input type="submit" [disabled]='processing' name="Button" class="btn btn-info" value='Update' />
    </fieldset> 
    </form>    
          
          </div>
          </div>
        </div>  
</div>      