<div class="bs-component">
              <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Reddit</a>
                  </div>

                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li  routerLinkActive="active"><a routerLink='/dashboard'>Home</a></li>
                      <li  routerLinkActive="active"><a routerLink='/profile'>Profile</a></li>
                      <li  routerLinkActive="active"><a href="#">Link</a></li>
                    </ul>
                    <!--<form class="navbar-form navbar-left" role="search">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                      </div>
                      <button type="submit" class="btn btn-default">Submit</button>
                    </form>-->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                    <a href="#"><img src="../../../assets/images/DSC22.jpg" width="25px" height="25px" alt="User Avatar">
										<span class="name">Omkar Patil </span>  <span class="caret"></span></a>
                        <div class="dropdown-content">
                          <a routerLink='/profile'><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Profile</a>
                          <a href="#"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;&nbsp;Settings</a>
                          <a href="#" (click)="onLogoutClick()"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;Logout</a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>